@model ApuestasPolla.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdUsuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdUsuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contrasena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contrasena)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sexo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cedula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cedula)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
