@model IEnumerable<ApuestasPolla.Models.Equipo>

@{
    ViewBag.Title = "Lista de Equipos";
}

<h2>Lista de Equipos</h2>

<p>
    @Html.ActionLink("Agregar equipo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutaImagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutaImagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.IdEquipo  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
